// PrimaryColor
$Primary100: #6ee7b7;
$Primary200: #a7f3d0;
$Primary300: #34d399;

// SubColor
$Sub100: #fef08a;
$Sub200: #fef9c3;
$Sub300: #fde047;

// BackgroundColor
$Bg100: #121212; // 기본 색상
$Bg200: #000000; // 어두운 버전
$Bg300: #262523; // 밝은 버전

// RedColor
$Red100: #bf1b1b;

// GrayColor
$Gray000: #f2f2f2;
$Gray100: #343a40;
$Gray200: #495057;
$Gray300: #adb5bd;
$Gray400: #f8f9fa;
$Gray500: #e9ecef;
$Gray600: #d4d4d4;
$Gray700: #666666;

// BlackColor
$Black100: #000000;

// WhiteColor
$White100: #ffffff;

// FontSize
$xxlarge: 1.8rem;
$xlarge: 1.6rem;
$large: 1.4rem;
$medium: 1.2rem;
$small: 1.1rem;
$xsmall: 1rem;
$xxsmall: 0.9rem;

// Intro Font
$intro-font: 5rem;
$intro-mobile-font: 3rem;
