/** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
- 자주 쓰는 display 정리
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

@mixin centerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin centerColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin betweenRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin aroundRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@mixin aroundColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
