/** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
- 한 화면을 보여주는 블록
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.global-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100vh;
  padding-top: 90px;
}

.global-center-block {
  @extend .global-block;
  justify-content: center;
}

.global-full-block {
  @extend .global-block;
  padding-top: 0;
}

.global-wide-block {
  @extend .global-block;
  width: 100%;
}

.global-full-wide-block {
  @extend .global-block;
  padding-top: 0;
  width: 100%;
}

.global-wide-center-block {
  @extend .global-wide-block;
  justify-content: center;
}

.global-half-block {
  @extend .global-block;
  height: 50vh;
}

.global-over-block {
  @extend .global-block;
  height: 120vh;
}
