@import "/src/assets/global/globalDisplay.scss";
@import "/src/assets/color/ColorNote.scss";

.home-wrppaer {
  height: 100vh;
  background-color: black;
  overflow: auto;

  /* 스크롤 안보이게 하는 css */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer / Edge */

  &::-webkit-scrollbar {
    display: none; /* Safari / Chrome */
  }
}

.section {
  height: 100vh;
  @include centerColumn;

  &.blue {
    background-color: $Bg100;
  }

  &.green {
    background-color: #10b981;
  }

  &.red {
    background-color: #ef4444;
  }

  &.yellow {
    background-color: #f59e0b;
  }

  h1 {
    color: white;
    font-size: 2.25rem;
  }
}

.kkae-stick {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: $Bg200;
  // border: 2px solid white;
  border-radius: 10px;
  right: 2%;
  top: 50%;
  width: 30px;
  height: 180px;
  z-index: 1;
  background-color: $Sub100;

  .stick-face {
    @include centerColumn;
    width: 100%;
    height: 40px;
    // background-color: $Sub200;

    .stick-eye-line {
      @include aroundRow;
      width: 100%;
      height: 30px;

      .stick-eyes {
        width: 2px;
        height: 10px;
        background-color: black;
      }
    }

    .stick-mouse {
      width: 15px;
      height: 7px;
      border-radius: 0 0 50px 50px;
      background-color: red;
      margin-bottom: 10px;
    }
  }

  .stick-circle-block {
    @include aroundColumn;
    height: 130px;
    width: 100%;

    .circle {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: black;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.active {
        background-color: $Primary100;
      }
    }
  }
}
