@import "/src/assets/global/globalDisplay.scss";
@import "/src/assets/color/ColorNote.scss";

.home-topic-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: orange;
  padding-top: 5%;

  .topic-main-span {
    font-size: $menu-medium;
    font-weight: bold;
    color: $White100;
  }

  .topic-sub-span {
    display: flex;
    font-size: $menu-xsmall;
    font-weight: bold;
    color: $White100;
  }
}
