@import "/src/assets/global/globalDisplay.scss";
@import "/src/assets/color/ColorNote.scss";

.home-menu-wrapper {
  @include centerRow;
  width: 100%;
  height: 100%;
  // background-color: orange;

  .main-half-block {
    @include centerRow;
    height: 80%;
    width: 50%;
    // background-color: red;

    .main-menu-block {
      position: relative;
      width: 98%;
      height: 98%;
      transition: all 0.4s ease;

      &:hover {
        height: 100%;
        width: 100%;
      }
    }
  }

  .sub-half-block {
    @include aroundRow;
    height: 80%;
    width: 50%;
    // background-color: yellow;
    flex-wrap: wrap;

    .sub-menu-block {
      position: relative;
      height: 48%;
      width: 48%;
      // background-color: blue;
      transition: all 0.4s ease;

      &:hover {
        height: 51%;
        width: 51%;
      }
    }
  }

  .overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    transition: all 0.6s ease;
    color: white;

    &:hover {
      background-color: transparent;
    }

    .main-text-block {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      left: 2%;
      bottom: 2%;

      .text-contents {
        margin-left: 0.5rem;
        font-size: $menu-xsmall;
      }

      .text-title {
        font-size: $menu-large;
        font-weight: bold;
      }
    }

    .sub-text {
      position: absolute;
      bottom: 5%;
      left: 5%;
      font-weight: bold;
      font-size: $menu-small;
    }
  }
}
